@import "utils";

.header {
  background: $accent-color;
  @include material-shadow(2, 0.5);
  .header-content {
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    margin: 0 auto;
    @include media(">medium") {
      height: 4rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .menu-icon {
      display: flex;
      align-items: center;
      margin-right: 2rem;
      cursor: pointer;
      color: white;
      // color: rgba(255, 255, 255, 0.8);
      font-size: 1.75rem;
      // &:hover,
      // &:active {
      //   color: white;
      // }
      @include media(">medium") {
        font-size: 2rem;
      }
    }
    .title {
      margin: 0;
      color: white;
      font-weight: 400;
      cursor: pointer;
      @include media(">medium") {
        font-size: 2rem;
      }
    }
    .right {
      margin-left: auto;
      .review-icon {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        color: white;
        @include media(">medium") {
          font-size: 2rem;
        }
      }
    }
  }
}
